@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Throttling Filter</h1>
    <p class="lead">Reload this page several times to see MvcThrottle in action.</p>
    <p><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-large">Reload &raquo;</a></p>
</div>