@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>You've been rate limited!</h1>
        <h3>@ViewBag.Message</h3>
    </hgroup>
</body>
</html>
